body {
    width: 750px;
    height: 1200px;
    margin: auto;
    background: linear-gradient(180deg, #A8F6FB 0%, #2CB0DA 64.43%, #A8F6FB 89.56%);
}

button a {
    text-decoration: none;
    color: black;
}

header h1 {
    margin-bottom: -10px;
    /* position: absolute; 
    left: 20%; */
    text-align: center;
    font-family: 'Rubik Bubbles';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    color: #FFFFFF;

    text-shadow: 0 0 12px rgb(83, 143, 161);
}
header h2 {
    font-family: 'Poppins';
    /* position: absolute;
    left: 33%;
    top: 26%; */
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
}

/* home page svgs */
#monster1 {
    position: absolute;
    left: 25vw;
    top: 48%;
    width: 50%;
}

#grass {
    position: absolute;
    bottom: -16px;
    height: 200px;
    left: 0;
    width: 100vw;
}

#tree1 {
    position: absolute;
    top: 39%;
    left: 0;
    width: 15%;
}

#tree2 {
    position: absolute;
    top: 49%;
    left: 7%;
    width: 15%;

}

#tree3 {
    position: absolute;
    top: 48%;
    right: 10%;
    width: 15%;

}

#tree4 {
    position: absolute;
    top: 39%;
    right: 0;
    width: 15%;

}

/* homepage buttons */
footer button {
    padding: 6px 60px;
    gap: 10px;
    height: 40px;
    border: 0;
    border-radius: 43px;
    background: linear-gradient(180deg, #96CF84 0%, #71d154 100%);
    color: #0e2507;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 16px;
}

#portal {
    position: absolute;
    bottom: 4%;
    left: 8%;
}

#howto {
    position: absolute;
    bottom: 4%;
    right: 8%;
}

#play {
    position: absolute;
    top: 42vh; 
    left: 40%;
    background: linear-gradient(180deg, #fffdde 0%, #ffff25 100%);
    border-radius: 43px;
    border: 0;
    padding: 15px;
    width: 20%;
    font-family: 'Poppins';
    font-size: 30px;
    text-align: center;
}

#play:hover {
    background: linear-gradient(180deg, #bee6ae 0%, #57e320 100%);
}


/* question page */
#questionhtml {
    margin: 0;
}

#question {
    position: absolute;
    font-size: 60px;
    text-align: left;
    padding-left: 8%;
    color: black;
    text-shadow: none;
    font-family: 'Futura';
    font-weight: 600;
    padding-bottom: 2%;
    padding-top: 5%;
}

#answertoplay {
    position: absolute;
    padding-top: 14%;
    text-align: left;
    padding-left: 8%;
    color: black;
    font-size: 24px;
}

#hint {
    position: absolute;
    right: 5%;
    top: 9%;
    display: flex;
    padding: 15px;
    width: 12%;
    height: 7%;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-size: 136%;

    background: linear-gradient(180deg, #FFFEEB 0%, #FFF500 100%);
    border-radius: 43px;
    border: 0;
}

#hint:hover {
    background: linear-gradient(180deg, #e0e0ce 0%, #dcd501 100%);
}

#monster2 {
    position: absolute;
    width: 47%;
    right: -60px;
    bottom: -60px;
}

#answers {
    position: absolute;
    width: 65%;
    height: 30%;
    padding-top: 23%;
    padding-left: 8%;
    padding-bottom: 4%;
}

#answers button {
    width: 70%;
    margin-bottom: 3%;
    height: 30%;
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;

    background: #FFD231;
    box-shadow: inset 2px 9px 7px 5px #FFEAA2;
    border-radius: 43px;
    border: 0;
}

#answers button:hover {
    background: #72f730;
    box-shadow: inset 2px 9px 7px 5px #b8ffa2;
}

#qdone {
    position: absolute;
    left: 18%;
    display: flex;
    bottom: 11%;
    padding: 15px;
    width: 25%;
    height: 8%;
    justify-content: center;
    align-items: center;    

    font-family: 'Poppins';
    font-size: 136%;

    background: linear-gradient(180deg, #cdecbd 0%, #72f730 100%);
    border-radius: 43px;
    border: 0;
}

#qdone:hover {
    background: linear-gradient(180deg, #e7f1e3 0%, #c6ffaa 100%);
}


/* You did it page */
#correct {
    position: absolute;
    font-size: 60px;
    text-align: center;
    color: black;
    font-family: 'Futura';
    font-weight: 600;
}


/* Puzzle page */
#puzzlehtml {
    margin: 0;
}
#dragdrop {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 27px;
    color: black;
}
