/* body {
    background-image: url(images/movie.jpeg);
    width: 1200px;
    height: 750px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 62, 79);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

#myVideo {
    position: fixed;
    display: block;
    right: 0;
    bottom: -260px;
    min-width: 60%;
    min-height: 60%;
}

#poem p {
    position: absolute;
    padding: .7em;
    font-size: 4em;
    background-color: rgba(250, 235, 215, 0.86);
    color: rgb(44, 62, 79);
    border-radius: 15px;
    transition: all .5s;
}

#line1 {
    font-size: 5em;
    bottom: 50%;
    left: 10%;
}

#line2 {
    bottom: 40%;
    left: 15%;
}

#line3 {
    bottom: 30%;
    left: 20%;
}

.fa-paw {
    position: absolute;
    top: 45px;
    left: 32%;
    font-size: 50px;
    color: antiquewhite;
}

.fa-paw:hover {
    cursor: pointer;
    font-size: 60px;
    transition: ease 1.5s;
}

a .fa-house {
    position: absolute;
    top: 45px;
    left: 23%;
    font-size: 49px;
    color: antiquewhite;
}

a .fa-house:hover {
    cursor: pointer;
    font-size: 59px;
    transition: ease 1.5s;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

@keyframes bird {
    0% {
        opacity: .5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
        transform: scale(1.5);
    }
}